<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
            <h1 class="main-header my-auto" [routerLink]="['/']" routerLinkActive="router-link-active" >
                Sanderson and the Cosmere
            </h1>

            <a class=navbar-brand [routerLink]="['main']" routerLinkActive="router-link-active">
                Books
            </a>

            <a class=navbar-brand [routerLink]="['/bio']" routerLinkActive="router-link-active" >
                Biography
            </a>

            <a class=navbar-brand [routerLink]="['/link']" routerLinkActive="router-link-active" >
                Links
            </a>
    </div>
</nav>
<router-outlet></router-outlet>
